
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Classification</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="#Open" Match="NavLinkMatch.All">Open Division</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="#Standard" Match="NavLinkMatch.All">Standard Division</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="#Production" Match="NavLinkMatch.All">Production Division</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="#Classic" Match="NavLinkMatch.All">Classic Division</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
